@font-face {
    font-family: "TeX Gyre Heros";
    src: url("/assets/fonts/texgyreheros-regular.woff") format("woff");
}

gdfmt {
    font-family: "TeX Gyre Heros";

    cb {
        color: #4A52E1;
    }

    cg {
        color: #40E348;
    }

    cl {
        color: #60ABEF;
    }

    cj {
        color: #32C8FF;
    }

    cy {
        color: #FFFF00;
    }

    co {
        color: #FFA54B;
    }

    cr {
        color: #FF5A5A;
    }

    cp {
        color: #FF00FF;
    }

    ca {
        color: #9632FF;
    }

    cd {
        color: #FF96FF;
    }

    cc {
        color: #FFFF96;
    }

    cf {
        color: #96FFFF;
    }

    cs {
        color: #FFDC41;
    }

    c {
        color: #FF0000;
    }
}